RewriteEngine On    # Turn on the rewriting engine
# Handle requests for all the web pages
RewriteRule   ^home/?$                                      index.php                                       [NC,L]
RewriteRule   ^home/([^/]+)/?$                              index.php?orderby=$1                            [NC,L]
RewriteRule   ^show/([^/]+)/([^/]+)/?$                      show.php?id=$1&title=$2                         [NC,L]
RewriteRule   ^comment/([^/]+)/([^/]+)/?$                   comment.php?id=$1&title=$2                      [NC,L]
RewriteRule   ^create_production/?$                         create.php                                      [NC,L]
RewriteRule   ^process/?$                                   process.php                                     [NC,L]
RewriteRule   ^edit/([^/]+)/([^/]+)/?$                      edit.php?id=$1&title=$2                         [NC,L]
RewriteRule   ^imageupload/([^/]+)/([^/]+)/?$               imageupload.php?id=$1&title=$2                  [NC,L]
RewriteRule   ^image_delete_process/([^/]+)/([^/]+)/?$      image_delete_process.php?id=$1&image=$2         [NC,L]
RewriteRule   ^bookmarks/?$                                 bookmarks.php                                   [NC,L]
RewriteRule   ^bookmarks/([^/]+)/?$                         bookmarks.php?orderby=$1                        [NC,L]
RewriteRule   ^signin/([^/]+)/?$                            signin.php?type=$1                              [NC,L]
RewriteRule   ^authenticate/?$                              authenticate.php                                [NC,L]
RewriteRule   ^signoff/?$                                   signoff.php                                     [NC,L]
RewriteRule   ^manageusers/?$                               manageusers.php                                 [NC,L]
RewriteRule   ^manageusers/([^/]+)/?$                       manageusers.php?orderby=$1                      [NC,L]
RewriteRule   ^edituser/([^/]+)/([^/]+)/?$                  edituser.php?id=$1&title=$2                     [NC,L]
RewriteRule   ^editseason/([^/]+)/([^/]+)/([^/]+)/?$        editseason.php?id=$1&season=$2&title=$3         [NC,L]
RewriteRule   ^createseason/([^/]+)/([^/]+)/([^/]+)/?$      createseason.php?id=$1&nextseason=$2&title=$3   [NC,L]
RewriteRule   ^createseason/?$                              createseason.php                                [NC,L]
RewriteRule   ^delete_process/([^/]+)/?$                    delete_process.php?id=$1                        [NC,L]
